/* Container for the Listings Page */
.container {
  width: 90vw;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Header with logo and profile button */
.header {
  max-height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
}

.logo {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.logoButton {
  background: none;
  border: none;
  cursor: pointer;
}

.profileButton {
  background: none;
  border: none;
  cursor: pointer;
}


.profileButton img {
  width: 80px;
  border-radius: 3px;
}

/* Listings Grid */
.listingsGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  padding: 20px 0;
}

.listingCard {
  width: 100%;
  height: 200px;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  background: #f9f9f9;
}

.listingCard:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.listingCard img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.listingTitle {
  position: absolute;
  bottom: 5px;
  left: 5px;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 5px;
  font-size: 14px;
  border-radius: 3px;
}
