.create-container {
  width: 90vw;
  max-width: 1200px;
  max-height: 800px;
  height: 90vw;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.create-container h1 {
  width: 70.4vw;               
  margin-left: -20px;         
  margin-right: -20px; 
  margin-top: -20px;
  background-color: #85b8e4; 
  box-sizing: border-box;
  font-size: 32px;
  border-top-left-radius: 10px; 
  border-top-right-radius: 10px;
  height: 80px;
  line-height: 80px;
  margin-bottom: 40px;
}

.create-container form {
  display: flex;
  flex-direction: column; 
  align-items: flex-start;
  gap: 10px;
}

.create-container input {
  width: 40%;
  max-height: 40px;
  padding: 15px;
  border: 1.5px solid #ccc;
  border-radius: 8px;
  font-size: 18px;
  background-color: lightgray;
}

.create-container button {
  padding: 15px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 18px;
}

.create-container button[type="submit"] {
  background-color: #007bff;
  color: white;
  font-weight: bold;
}

.create-container .back-button {
  background-color: #aaa;
  margin-top: 15px;
  font-weight: bold;
  transition: background-color 0.2s;
}

.create-container .back-button:hover {
  background-color: #888;
}

.label {
  margin-bottom: 0 !important;
  font-size: 25px;
}

body {
  background-color: lightblue;
}

.image-url {
  width: 55% !important;
}
input.description {
  width: 55% !important;
  max-height: none;
  height: 120px !important;
}

.bottom-div {
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 50px;
  margin-top: 50px;
}

